@font-face {
    font-family: Title;
    src: url("fonts/the-dark-font/TheDark-pr2Z.ttf");
}

@font-face {
    font-family: Deathcore;
    src: url("fonts/faceless-font-1/Faceless-K7wel.ttf");
}


body{
  background-image: url("images/bg.png");
  background-attachment: fixed;
  color: white;
}

header{
  padding: 70px 20px 20px 20px;
}

img{
  width: 24%;
}

#petites_images img{
  width:19%;
}

a{
  color: #0088ff;
}

a:visited{
  color: #ff7b00;
}

nav{
  background-color: black;
  height: 50px;
  position: absolute;
  top: 0px;
  position: fixed;
  padding-bottom: 10px;
  width: 100%;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 10px;
}

nav li{
  margin-right: 10px;
  font-weight: bold;
}

nav img{
  position: absolute;
  right: -10px;
  width: 40px;
}

#hidden{
  display: none;
  flex-direction: column;
  text-align: right;
  position: absolute;
  top: 40px;
  right: -7px;
  padding: 10px 5px 10px 10px;
  width: 200px;
  background-color:rgba(0, 0, 0, 0.7);
}

#hidden li{
  margin-bottom: 10px;
}

#menu{
  position: absolute;
  top:10px;
  right: 20px;
}

#menu:hover #hidden, #menu:active #hidden{
  display: block;
}

#quietwire{
  font-family: Deathcore;
  font-size: 28px;
  color: white;
  text-decoration: none;
  
}

h1{
  font-family: Title;
}

article header{
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
  padding-top: 10px;
  height: 300px;
}

article header li{
  font-size: 20px;
}

article{
  padding: 5px 20px 0 20px;
}


#presentation{
  display: flex;
  flex-direction: row-reverse;
}

figure img{
  width:100%;
}

figcaption{
  text-align: center;
}

#presentation div:nth-child(1), #logos figure:nth-child(1){
 width:300%;
}

#logos div:nth-child(1){
  display:flex;
  flex-direction: row-reverse;
}

#logos{
  margin-bottom: 60px;
}

#groupes{
  display:flex;
  flex-direction: column-reverse;
}

table{
  background-color: black;
  width:70%;
  margin:auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

table, td, th{
  border-collapse:collapse;
  border:2px solid grey;
  text-align: center;
}

footer{
  background-color:black;
  margin-top: 10px;
  padding: 2px 0 10px 10px;
  text-align: center;
}


@media screen and (max-width: 700px){
  article header{
    margin-bottom: 30px;
  }

  #presentation{
    flex-direction: column;
  }

  #presentation div:nth-child(1){
    display: flex;
    flex-direction: row;
  }

  figure{
    display: none;
  }
}
